<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new Property Request from <%= @post.owner_name %>!</p>
    <p>Post details details</p>
    <p>Email: <%= @post.email %></p>
    <p>Phone: <%= @post.phone %></p>
    
    <p>
    Message:<br>
    ----------
    </p>
  </body>
</html>
